extends layout

block content
    div.container.sale-main.d-flex.align-items-center.justify-content-center.flex-column
        div.row
            div.col-12.col-lg-6.d-flex.align-items-center.justify-content-center
                div.stairway-main.d-flex.align-items-center.justify-content-center.flex-column
                    h1.text-white.text-center ChainPots
                    p.text-white.text-center Generative NFT collection by <a href="https://twitter.com/memorycollect0r">memorycollect0r</a> with limited supply and the scripts stored on Ethereum Blockchain. Inspired by on-chain art platform "Art Blocks".
                    div.d-flex.flex-column.align-items-center.justify-content-center
                        div.loader
                            div.lds-facebook
                                div
                                div
                                div
                                div
                        p.text-white.font-weight-bold Price: 0.05Ξ
                        p.text-white#current-supply
                        input#mintAmount(value=1, type="number", step=1, min=1, max=20).mt-2.form-control
                        button#mintButton.mt-4.btn.custom.text-white MINT
            div.col-12.col-lg-6.d-flex.align-items-center.justify-content-center
                iframe#showcase(src="/generator/0", style={width: "400px", height: "400px"})
        div.row.mt-5.pt-5
            div.col-12.pt-5
                a(href="https://opensea.io/collection/chainpots").d-flex.align-items-center.justify-content-center.flex-column.font-weight-bold.text-uppercase View on
                    img(src="https://opensea.io/static/images/logos/opensea.svg", width=40).mt-2
        div.row.mt-5
            div.col-12
                div.text-center.font-weight-bold
                    a(href="https://github.com/canersevince/ChainPots/tree/main") Github
                    br
                    a(href="https://openprocessing.org/sketch/940273") P5 Sketch derivated from the original script






