doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', crossorigin='anonymous')
        script(src='https://cdn.ethers.io/lib/ethers-5.2.umd.min.js')
    body
        block content
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js')
        script(src='/javascripts/abi.js')
        script(src='/javascripts/nft.js')
        script(src='/javascripts/web3.js')

