doctype html
html
    head
        title= "ChainPots - Generative art on Ethereum Blockchain"
        meta(name="description" content="ChainPots - Generative art stored on Ethereum Blockchain")
        meta(name="twitter:card" content="ChainPots - Generative art stored on Ethereum Blockchain")
        meta(name="twitter:creator" content="@memorycollect0r")
        meta(property="og:url" content="https://www.chainpots.com")
        meta(property="og:description" content="ChainPots - Generative art stored on Ethereum Blockchain")
        meta(property="og:image" content="https://bafybeiagzg2n6z5pzg23hkh5y2hwi6pxn5uf7t754ul4rram54r36qnzla.ipfs.infura-ipfs.io/")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', crossorigin='anonymous')
        script(src='https://cdn.ethers.io/lib/ethers-5.2.umd.min.js')
    body
        block content
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js')
        script(src='/javascripts/abi.js')
        script(src='/javascripts/nft.js')
        script(src='/javascripts/app.js')

